[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-text-selection-color: lightgreen;
  --pico-primary: green;
  --pico-primary-underline: darkgreen;
  --pico-primary-inverse: #fff;
  --pico-primary-background: green;
  --pico-primary-hover-background: darkgreen;
}

a:link, a:visited {
    text-decoration: none;
    color: green;
}
a:hover {
    color: darkgreen;
    text-decoration: underline;
}

.navbar {
    border-bottom: 1px solid var(--pico-primary-underline);
    margin-bottom: 1em;
}

main {
    border-bottom: 1px solid var(--pico-primary-underline);
}

.tag {
    padding-bottom: 1em;
    text-align: center;
}

.synth {
    padding-bottom: 1em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  gap: 8px;
  padding: 16px;
  z-index: 1;
}

.flex-item {
  /* Base styles for all items */
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  text-align: center;
  max-height: 400px;
  width: 200px;
}