[data-theme=light],
:root:not([data-theme=dark]) {
  --pico-text-selection-color: lightgreen;
  --pico-primary: green;
  --pico-primary-underline: darkgreen;
  --pico-primary-inverse: #fff;
  --pico-primary-background: green;
  --pico-primary-hover-background: darkgreen;
}

:root {
  --garden-element-size: 95%;
}

a:link, a:visited {
    text-decoration: none;
    color: green;
}
a:hover {
    color: darkgreen;
    text-decoration: underline;
}

.navbar {
    border-bottom: 1px solid var(--pico-primary-underline);
    margin-bottom: 1em;
}

main {
    border-bottom: 1px solid var(--pico-primary-underline);
}

.tag {
    padding-bottom: 1em;
    text-align: center;
}

.search-results {
  background-color: rgb(251, 252, 252);
  border: 1px solid lightgray;
  border-radius: 2em;
  margin-bottom: 2em;
}

.synth {
    padding-bottom: 1em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  gap: 8px;
  padding: 16px;
  z-index: 1;
}

.flex-item {
  /* Base styles for all items */
  padding: 12px;
  border-radius: 6px;
  text-align: center;
  max-height: 400px;
  width: var(--garden-element-size);
}

// media queries to set the number of items per lines. Formula = 95% / number_of_items_per_line
@media (min-width: 576px) {
  :root {
    --garden-element-size: 47.5%;
  }
}
@media (min-width: 768px) {
  :root {
    --garden-element-size: 32%;
  }
}
@media (min-width: 1024px) {
  :root {
    --garden-element-size: 24%;
  }
}
@media (min-width: 1280px) {
  :root {
    --garden-element-size: 19%;
  }
}
@media (min-width: 1536px) {
  :root {
    --garden-element-size: 19%;
  }
}