.tag {
    padding-bottom: 1em;
    text-align: center;
}

.synth {
    padding-bottom: 1em;
}

a:link, a:visited {
    color: green;
    text-decoration: none;
}

a:hover {
    color: darkgreen;
    text-decoration: underline;
}