{% extends "base.html" %}

{% block title %}
<title>{{ config.title }} - {{ page.title }}</title>
{% endblock %}

{% block content %}

<h3>{{ page.title }}</h3>

<div class="flex-container">
    {% set section = get_section(path="_index.md") %}
    {% for s in section.subsections %}
        {% set subsection = get_section(path=s) %}
        {% set image = resize_image(path=subsection.path~subsection.pages[0].extra.images[0], width=config.extra.thumb_width, height=config.extra.thumb_height, op=config.extra.thumb_op) %}
        <div class="flex-item synth">
            <a href="{{ subsection.permalink }}">
                <img src="{{ image.url }}" alt="{{page.description}}">
            </a>
            <a href="{{ subsection.permalink }}">{{ subsection.title }}</a> ({{subsection.pages | length}})
        </div>
    {% endfor %}
</div>


{% endblock content %}
