{% extends "base.html" %}

{% block content %}

<div class="flex-container">
    {% set_global counter = 0 %}
    {% for s in section.subsections %}
        {% set subsection = get_section(path=s) %}
            {% if subsection.pages %}
            {% for page in subsection.pages %}
                {% if counter % 4 == 0 %}
                {% endif %}
                {% set_global counter = counter + 1 %}
                <div class="flex-item synth">
                    <a href="{{ page.permalink }}">
                        {% set image_url = subsection.path ~ page.extra.images[0] %}
                        {% set image = resize_image(path=image_url, width=config.extra.thumb_width, height=config.extra.thumb_height, op=config.extra.thumb_op) %}
                        <img src="{{ image.url }}" alt="{{page.description}}">
                    </a><br />
                    <a href="{{ page.permalink }}">
                        {{ page.title }}
                    </a><br />by  
                    <a href="{{ subsection.permalink | safe }}">
                        {{ subsection.title }}
                    </a>
                </div>
            {% endfor %}
            {% endif %}
    {% endfor %}
</div>


{% endblock content %}

{% block count %}
{% set_global counter = 0 %}
{% for s in section.subsections %}
{% set subsection = get_section(path=s) %}
{% if subsection.pages %}
{% set page_count = subsection.pages | length %}
{% set_global counter = counter + page_count %}
{% endif %}
{% endfor %}{{ counter }} instruments in the garden.{% endblock count %}
