{% extends "base.html" %}

{% block content %}

<div class="grid">
    <article>
        <table>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% for s in section.subsections %}
                {% set subsection = get_section(path=s) %}
                    {% if subsection.pages %}
                    {% for page in subsection.pages %}
                        <tr>
                            <td>
                                <img src="{{subsection.permalink}}{{page.extra.images[0]}}" alt="{{page.description}}">
                            </td>
                            <td>
                                <a href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a>
                            </td>
                            <td>
                                <a href="{{ page.permalink }}">{{ page.title }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% endif %}
            {% endfor %}
        </table>
    </article>
</div>


{% endblock content %}
