{% extends "base.html" %}

{% block title %}
<title>{{ config.title }} - {{ page.title }}</title>
{% endblock %}

{% block content %}
<div>
  <article>
    Released by 
    {% set parent_url = '@/' ~ page.extra.parent ~ '/_index.md' %}
    <a href="{{ get_url(path=parent_url) }}">
      {% set section = get_section(path=page.extra.parent ~ '/' ~ page.ancestors[0]) %}
      {{ section.title }}
    </a> on {{ page.date | date(format="%B %d, %Y")}}.<br />
    Tags: {% for taxonomy_name, taxonomy in page.taxonomies %}
      {% for item in taxonomy %}
        {% set tag_info = get_taxonomy_url(kind=taxonomy_name, name=item) %}
        <a href="{{tag_info}}">{{ item }}</a>{% if not loop.last %}, {% endif %} 
      {% endfor %}
    {% endfor %}<br />
    Website: <a href="{{ page.extra.link }}">{{page.extra.link}}</a>
  </article>
</div>

<div class="grid">
  <article>
    {% for image in page.extra.images %}
    {% set image_url = page.extra.parent ~ '/' ~ image %}
    <img src="{{ get_url(path=image_url) }}">
    {% endfor %}
  </article>
    <section>
      <article>
        {{ page.content | safe }}
      </article>
    </section>
</div>

{% endblock content %}
