{% extends "base.html" %}

{% block title %}

{% set parent_url = '@/' ~ page.extra.parent ~ '/_index.md' %}
{% set section = get_section(path=page.extra.parent ~ '/' ~ page.ancestors[0]) %}

<title>{{ config.title }} - {{ page.title }} by {{ section.title }}</title>
{% endblock %}

{% block content %}
<div>
  <article>
    <b>{{page.title}}</b> by 
    <a href="{{ get_url(path=parent_url) }}">{{ section.title }}</a> on {{ page.date | date(format="%B %d, %Y")}}.<br />
    Tags: {% for taxonomy_name, taxonomy in page.taxonomies %}
      {% for item in taxonomy %}
        {% set tag_info = get_taxonomy_url(kind=taxonomy_name, name=item) %}
        <a href="{{tag_info}}">{{ item }}</a>{% if not loop.last %}, {% endif %} 
      {% endfor %}
    {% endfor %}<br />
    Website: <a href="{{ page.extra.link }}">{{page.extra.link}}</a>
  </article>
</div>

<div class="grid">
  <article>
    {% for image in page.extra.images %}
    {% set image_url = page.extra.parent ~ '/' ~ image %}
    <img src="{{ get_url(path=image_url) }}">
    {% endfor %}
  </article>
    <section>
      <article>
        {{ page.content | safe }}
        {% include "_yt_embed.html" %}
      </article>
    </section>
</div>

<h4>Related Instruments</h4>

<div class="grid">
  {# this is a very basic related instruments fn. #}
  {# right now all it does is make an array of all items that share a tag with this item #}
  {# and then pick four random items from that list #}
  {# ideally it would do something more complex like favouring items with more tags in common #}

  {% set_global related_posts = [] %}
  {% set taxonomy = get_taxonomy(kind="tags") %}

  {% for item in taxonomy.items %}
    {% if item.name in page.taxonomies["tags"] %}
    {% set_global related_posts = related_posts | concat(with=item.pages) %}
    {% endif %}
  {% endfor %}

  {# de-dupe things #}

  {% set related_posts = related_posts | unique(attribute="permalink") %}

  {% set random_size = related_posts | length %}

  {% set_global randoms = [get_random(start=0, end=random_size), get_random(start=0, end=random_size), get_random(start=0, end=random_size), get_random(start=0, end=random_size)] | unique %}

  {% for i in range(end=100) %}
    {% set randoms_length = randoms | length %}
    {% if randoms_length > 3 %}{% break%}{% endif %}

    {% set rand1 = get_random(start=0, end=random_size) %}
    {% set_global randoms = randoms | concat(with=rand1) %}
  {% endfor %}

  {% for page in [related_posts[randoms.0], related_posts[randoms.1], related_posts[randoms.2], related_posts[randoms.3]] %}
  <article class="synth">
    {% set image_url = page.extra.parent ~ '/' ~ page.extra.images[0] %}
    {% set image = resize_image(path=image_url, width=config.extra.thumb_width, height=config.extra.thumb_height, op=config.extra.thumb_op) %}
    <a href="{{ page.permalink }}">
      <img src="{{image.url}}">
    </a>
    <a href="{{ page.permalink }}">{{page.title}}</a><br />
  </article>
  {% endfor %}
</div> 

{% endblock content %}
