{% extends "base.html" %}

{% block content %}


<div>
  <article>
    {% set parent_url = '@/' ~ page.extra.parent ~ '/_index.md' %}
    <a href="{{ get_url(path=parent_url) }}">
      {% set section = get_section(path=page.extra.parent ~ '/' ~ page.ancestors[0]) %}
      {{ section.title }}
    </a>
  </article>
</div>

<div class="grid">
  <article>
    {% for image in page.extra.images %}
    {% set image_url = page.extra.parent ~ '/' ~ image %}
    <img src="{{ get_url(path=image_url) }}">
    {% endfor %}
  </article>
    <section>
      <article>
        {{ page.content | safe }}
      </article>
    </section>
</div>

{% endblock content %}
