{% extends "base.html" %}

{% block title %}
<title>{{ config.title }} - {{ section.title }}</title>
{% endblock %}

{% block content %}

<article>
  <h3>{{ section.title }}</h3>
  Website: <a href="{{ section.extra.link }}">{{ section.extra.link }}</a>
  <p>
    {{ section.content | safe }}
  </p>
</article>

<article class="grid">
  {% for post in section.pages %}
  <div>
      <a href="{{ post.permalink }}">
        <img src="{{ post.extra.images[0] }}"><br />
        {{ post.title }}
      </a>
  </div>
  {% endfor %}
</article>

<main class="container grid">
  {% for section_url in section.subsections %}
    {% set section = get_section(path=section_url) %}
    <div>
      <a href="{{ section.permalink | safe }}">
        <img src="{{section.extra.images[0]}}" alt="{{section.description}}" class="stuffbox-image"><br />
        {{ section.title }}
      </a> - {{ section.description }}
    </div>
  {% endfor %}
</div>

{% endblock content %}
