{% extends "base.html" %}

{% block title %}
<title>{{ config.title }} - Instruments tagged &ldquo;{{term.name}}&rdquo;</title>
{% endblock %}

{% block content %}

<h3>Instruments tagged &ldquo;{{term.name}}&rdquo;</h3>

<div class="flex-container">
{% for page in term.pages %}
    <div class="flex-item synth">
        <a href="{{page.permalink}}">
            {% set image_url = page.extra.parent ~ '/' ~ page.extra.images[0] %}
            {% set image = resize_image(path=image_url, width=config.extra.thumb_width, height=config.extra.thumb_height, op=config.extra.thumb_op) %}
            <img src="{{ image.url }}"><br />
            {{page.title}}<br />
        </a>
        {% set section = get_section(path=page.extra.parent ~ '/' ~ page.ancestors[0]) %}
        by <a href="{{section.permalink}}">{{ section.title }}</a>
    </div>
{% endfor %}
</ul>

{% endblock content %}
