{% extends "base.html" %}

{% block content %}

<h3>Instruments tagged &ldquo;{{term.name}}&rdquo;</h3>

<div class="grid">
{% for page in term.pages %}
    {% if loop.index0 % 4 == 0%}
        </div>
        <div class="grid">
    {% endif %}
    <div class="synth">
        <a href="{{page.permalink}}">
            <img src="/{{page.extra.parent}}/{{page.extra.images[0]}}">
            {{page.title}}<br />
        </a>
        {% set section = get_section(path=page.extra.parent ~ '/' ~ page.ancestors[0]) %}
        by <a href="{{section.permalink}}">{{ section.title }}</a>
    </div>
{% endfor %}
</ul>

{% endblock content %}
